* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #242d36;
}

.maintenance {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.maintenance > h3 {
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: rgb(184, 184, 184);
}

.maintenance > .maintenance-sl {
  font-size: 24px !important;
}